
h1, h3 {
    font-family: 'Century Gothic';
    text-align: center;
    font-weight: bold;
    color: rgb(255, 22, 92);
    margin-top: 50px;
}
h2 {
    font-family: 'Century Gothic';
    text-align: center;
    size: 50pt;
    color: rgb(255, 22, 92);
    margin-top: 50px;

}

li {
    font-family: 'Century Gothic';
    text-align: center;
    size: 50pt;
    color: rgb(172, 15, 62);
    margin-top: 50px;
}
.image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    width: 400px;
    height: auto;
    animation: shake 0.5s infinite
}

@keyframes shake {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5px, 0); }
    20% { transform: translate(5px, 0); }
    30% { transform: translate(-10px, 0); }
    40% { transform: translate(5px, 0); }
    50% { transform: translate(-5px, 0); }
    60% { transform: translate(5px, 0); }
    70% { transform: translate(-10px, 0); }
    80% { transform: translate(5px, 0); }
    90% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
}

body {background-color: rgb(132, 27, 27);}
